@{
    ViewBag.Title = "Home Page";
    List<WebRestCall1.Models.Category> cate = (List<WebRestCall1.Models.Category>)ViewBag.Categories;

}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
            </tr>
            @foreach(WebRestCall1.Models.Category item in cate)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Active</td>
                </tr>
            }
        </table>
    </div>
</main>